version: "3.9"

services:
  lakehouse:
    build:
      context: .
      dockerfile: Dockerfile
    image: lakehouse-allinone:latest
    container_name: lakehouse
    hostname: lakehouse
    environment:
      - HDFS_NN_URI=hdfs://localhost:8020
      - METASTORE_DB_USER=hive
      - METASTORE_DB_PASS=
      - METASTORE_DB_NAME=metastore
      - S3_ENDPOINT=http://lakehouse:9100
      - S3_ACCESS_KEY=admin
      - S3_SECRET_KEY=password
      - WAREHOUSE_S3=s3a://warehouse
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    ports:
      - "9870:9870"   # HDFS NN UI
      - "9864:9864"   # HDFS DN
      - "9083:9083"   # Hive Metastore
      - "10000:10000" # HiveServer2
      - "9100:9100"   # MinIO API
      - "9001:9001"   # MinIO Console
      - "7077:7077"   # Spark master
      - "8080:8080"   # Spark master UI
      - "18080:18080" # Spark history
      - "8181:8181"   # Reserved for Polaris/REST Catalog
    volumes:
      - ./data/hdfs:/data/hdfs
      - ./data/metastore-db:/data/metastore-db
      - ./data/warehouse:/data/warehouse
      - ./data/logs:/var/log/lakehouse
      - ./:/workspace
    command: ["tail","-f","/dev/null"]
    networks:
      - share-enterprise-ci

networks:
  share-enterprise-ci:
    external: true

